.boundaryBg {
  background-image: url('/bg-2.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.parallaxTransform {
  transition: transform 0.1s ease-out;
}

.parallaxBgWrapper {
  transform: translateY(var(--parallax-offset, 0px));
}

